.header {
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 #0000002E;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    padding: 14px 18px;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 6;
}

.header-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
}

.header-logo {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #FFCC00;
    display: grid;
    place-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-link {
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

@media (max-width: 767px) {
    .header {
        left: 10px;
        right: 10px;
        top: 10px;
    }

    .header-link span {
        display: none;
    }

    .header-menu {
        gap: 20px;
        justify-content: flex-start;
        margin: 0 0 0 30px;
        position: static;
        transform: none;
    }
}

@media (max-width: 420px) {
    .header-title {
        display: none;
    }
}

@media (max-width: 374px) {
    .header-menu {
        gap: 10px;
        margin: 0 0 0 10px;
    }
}